:root {
  --skin_primary_btn_bg_color: rgba(12, 255, 0, 1);
  --skin_primary_btn_text_color: rgba(255, 177, 0, 1);
  --skin_bg: rgba(255, 0, 0, 1);
}
/* 字体 */

@font-face {
  font-display: swap;
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  src: local("Abril Fatface"), local("AbrilFatface-Regular"),
    url(https://fonts.gstatic.com/s/abrilfatface/v11/zOL64pLDlL1D99S8g8PtiKchq-dmiA.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  src: local("Arvo"),
    url(https://fonts.gstatic.com/s/arvo/v13/tDbD2oWUg0MKqScQ6A.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"),
    url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf)
      format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Work Sans"), local("WorkSans-Regular"),
    url(https://fonts.gstatic.com/s/worksans/v5/QGYsz_wNahGAdqQ43Rh_fKDs.ttf)
      format("truetype");
}

/* 页面背景 */
.dj_skin_bg {
  background-color: rgba(255, 0, 0, 1) !important;
}
/* 全局标题 */
.dj_skin_title {
  color: rgba(255, 0, 229, 1) !important;
  font-size: 45px !important;

  font-family: Abril Fatface, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

/* 全局标题 --- 不包含font-size */
.dj_skin_title_font {
  color: rgba(255, 0, 229, 1) !important;

  font-family: Abril Fatface, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

.dj_skin_title_font_family {
  font-family: Abril Fatface, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

/* 全局文本 */
.dj_skin_text {
  color: rgba(28, 0, 255, 1) !important;
}

.dj_skin_body {
  -webkit-font-smoothing: antialiased;

  font-family: Arvo, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

/* 全局文本字体 */
.dj_skin_text_font_family {
  font-family: Arvo, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

/*----------------------------*/

/* 商品标题 */
.dj_skin_product_title {
  color: rgba(255, 0, 229, 1) !important;

  font-family: Abril Fatface, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

/* 商品列表标题 */
.dj_skin_product_list_title {
  color: rgba(28, 0, 255, 1) !important;
  font-size: 14px !important;

  font-family: Work Sans, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

/* 商品标题字体 */
.dj_skin_product_title_font_family {
  font-family: Work Sans, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

/* 商品副标题 */
.dj_skin_product_brief_title {
  font-family: Arvo, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

/* 商品现价 */
.dj_skin_product_price {
  color: rgba(134, 65, 70, 1) !important;
  font-size: 20px !important;

  font-family: Arvo, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

/* 商品详情现价--不需要限制字体 */
.dj_skin_product_detail_price {
  color: rgba(134, 65, 70, 1) !important;

  font-family: Arvo, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

/* 商品原价 */
.dj_skin_product_compare_at_price {
  color: rgba(0, 255, 217, 1) !important;
  font-size: 25px !important;

  font-family: Arvo, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

/* 商品详情原价--不需要限制字体 */
.dj_skin_product_detail_compare_at_price {
  color: rgba(0, 255, 217, 1) !important;

  font-family: Arvo, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

/* 商品数目和排序 */
.dj_skin_product_text {
  color: rgba(28, 0, 255, 1) !important;

  font-family: Arvo, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

/* 商品详情款式选择框 */
.dj_skin_product_variants_selected {
  color: rgba(12, 255, 0, 1) !important;
}

.dj_skin_product_variants_selected:hover {
  color: rgba(12, 255, 0, 1) !important;
}

.dj_skin_product_variants_selected::before,
.dj_skin_product_variants_selected label::before {
  border: 2px solid rgba(12, 255, 0, 1) !important;
}

.product-info__label {
  color: #ffffff;
  background: #9b3c44;
}
.product-info__label-triangle {
  box-shadow: 0px -100px 0px 100px #9b3c44;
}
/* 优惠折扣标签同时存在 */

.product-info__vendor {
  display: none !important;
}

/*----------------------------*/
/* 页尾 */
.dj_skin_footer_title {
  font-family: Abril Fatface, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}
/*----------------------------*/
.btn {
  font-family: Lato, sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
}

/* 主要按钮 */
.btn-primary {
  position: relative !important;
  border-color: rgba(153, 160, 248, 1) !important;
  background: rgba(12, 255, 0, 1) !important;
  color: rgba(255, 177, 0, 1) !important;
}
.btn-primary:hover {
  color: rgba(255, 177, 0, 1) !important;
  border-color: rgba(153, 160, 248, 1) !important;
  background: rgba(12, 255, 0, 1) !important;
  opacity: 0.9 !important;
}
.btn-primary:active,
.btn-primary:focus {
  color: rgba(255, 177, 0, 1) !important;
  border-color: rgba(153, 160, 248, 1) !important;
  background: rgba(12, 255, 0, 1) !important;
  opacity: 0.9 !important;
}
.btn-primary:disabled,
.btn-primary.disabled {
  color: #f9f9f9 !important;
  background: #d6d6d6 !important;
  border: 1px solid #d6d6d6 !important;
}

/* 次级按钮 */
.btn-secondary {
  position: relative !important;
  background: rgba(0, 188, 255, 1) !important;
  color: rgba(248, 255, 0, 1) !important;
  border: 1px solid rgba(248, 255, 0, 1) !important;
}
.btn-secondary:hover {
  color: rgba(248, 255, 0, 1) !important;
  border: 1px solid rgba(248, 255, 0, 1) !important;
  background: rgba(0, 188, 255, 1) !important;
  opacity: 0.9 !important;
}
.btn-secondary:active,
.btn-secondary:focus {
  color: rgba(248, 255, 0, 1) !important;
  border: 1px solid rgba(248, 255, 0, 1) !important;
  background: rgba(0, 188, 255, 1) !important;
  opacity: 0.9 !important;
}
.btn-secondary:disabled,
.btn-secondary.disabled {
  background: #f9f9f9 !important;
  color: #d6d6d6 !important;
  border-color: #d6d6d6 !important;
}

.color-swatch {
  position: relative;
  display: inline-block;
  text-indent: -9999px;
  overflow-y: hidden;
  width: 14px;
  height: 14px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 2px 2px 0;
  border-radius: 50%;
  border: 1px solid rgba(153, 160, 248, 1);
}
@media (min-width: 768px) {
  .color-swatch {
    width: 17px;
    height: 17px;
  }
}
